
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* adding font family */
@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face{
    font-family: Roboto-italic;
    src: url(../fonts/Roboto/Roboto-Italic.ttf) format("truetype");
}
@font-face{
    font-family: Clearface;
    src: url(../fonts/Clearface-Regular.otf) format("opentype");
}
body{
    font-family: Roboto;
}
/* header css */
header{
    display: flex;
    padding: 38px 32px 40px;
   
}
.leftside_menu{
    display: flex;
}
.desktop_menu{
    margin-left: 24px;
}
.menu{
    list-style: none;
    display: flex;
    margin: 12px;
}
.menu>li>a{
    text-decoration: none;
    color: #2d3e50;
    padding: 10px 18px;
    font-size: 16px;
}
.signin_menu{
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
}
.signin,.get_start{
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    display: block;
}
.signin{
    color: #333E63;
    background: #F7F3F1;
    border-radius: 5px;
    padding: 12px 24px;
    margin: 0px 24px;
}
.get_start{
   color: #ffffff;
   background: #FF6756;
   border-radius: 5px;
   padding: 10px 24px;
}
.mobile_menu {
    display: none;
    position: absolute;
    top:42px;
    right: 8px;
}
.fa-bars{
    font-size: 20px;
}
.header_content{
    background-image: url(../images/Frame.png);
    height: 720px;
    background-position: center;
    position: relative;
}
.content_text{
    width: 500px;
    margin: auto;
    position: relative;
    top:15%;
    right: 15%;
}
.title{
    font-size: 52px;
    color: #2c404e;
    font-family: Clearface;
    font-weight: bold;
}
.sub_title{
    font-size: 20px;
    color: #517288;
    line-height: 32px;
}
.facts{
    font-size: 14px;
    color: #517288;
    padding: 12px 0px 48px;
}
.getstart_content{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    background: #FF6756;
    border-radius: 5px;
    padding: 18px 50px;
}
.content_image{
    width:45%;
    height: 620px;
    background-repeat: no-repeat;
    position: absolute;
    top:-2%;
    right: 10%;
}
.mobile_header_content{
    display: none;
}
.marketing_title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    font-family: Clearface;
}
.marketing_title span{
    background-color: #f5f8fa;
    margin-left: 12px;
}
.marketing_subtitle{
    font-size: 20px;
    text-align: center;
    color: #517288;
    padding: 20px 0px;
}
.boxes {
    max-width: 70%;
    margin: 0 auto;
}
.desktop_arrow{
    display: block;
    text-align: center;
    position: relative;
    width: 50%;
}
.tablet_arrow,.mobile_arrow{
    display: none;
}
.marketing_box1,.marketing_box2,.marketing_box3{
    background-image: url(../images/box\ 1.png);
    color: #2c404e;
    margin: -20px 0px 0px;
    padding: 48px;
    background-repeat: no-repeat;
    max-width: 600px;
}
.marketing_box1{
    position: relative;
    left:-5%;
    margin: -13px 0px 0px;
}
.marketing_box2{
    position: relative;
    left:30%;
    margin-top: -120px;
}
.marketing_box3{
    position: relative;
    top:-32px;
    right: 5%;
}
.box_title{
    font-size: 26px;
    padding: 12px 0px;
    font-weight: 700;
    font-family: 'Clearface';
}
.box_content{
    font-size: 16px;
}
.marketing_box p{
    font-size: 16px;
}

.marketing_getstart{
    text-align: center;
    margin: 48px 0px 0px;
}
.get_started{
    width: 198px;
    display: inline-block;
    background: #009EB5;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 18px 0px;
    font-size: 20px;
}

.marketing_price{
    display: block;
    font-size: 16px;
    text-align: center;
    margin: 32px 0px;
    color: #517288;
    font-family: Roboto-italic;
}
.socialcontents{
    background-image: url(../images/background_wave_top.png), url(../images/background_wave_bottom.png);
    background-repeat: no-repeat;
    background-position: top center, center calc(100% + 20px);
    padding: 64px 0px 90px;
    text-align: center;
}
.socialcontents_background{
    background-color: #f5f8fa;
    margin-top: -84px;
    padding-top: 84px;
}
.socialcontents_topbackground{
    background-image: url(../images/background_wave_top.png);
    background-color: #ffffff;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 32px 0px 0px;
}
.socialcontents_title{
    color: #2c404e;
    font-size: 36px;
    margin: 64px 0px 0px;
    text-align: center;
    font-family: 'Clearface';
    font-weight: 700;
}
.socialcontents_sub_title{
    font-size: 20px;
    color: #517288;
    text-align: center;
    padding: 24px 0px;
}
.social_sites{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-flow: row wrap;
}
.social_sites .social_sitename{
    width: 350px;
    padding: 24px 12px;
    margin: 0 auto;
}
.social_sitename img{
    width: 150px;
    height: 150px;
}
.socialsite_type {
    font-size: 26px;
    color: #2c404e;
    text-align: center;
    padding: 12px 0px;
    font-family: 'Clearface';
    font-weight: 700;
}
.socialsite_content {
    width: 250px;
    line-height: 26px;
    font-size: 16px;
    margin: 0 auto;
}
.socilacontents_learn_more{
    margin:24px 0px;
    padding-top: 18px;
}
.learn_more{
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    padding: 14px 30px;
    border-radius: 5px;
    font-size: 18px;
    color: #2c404e;
    margin:24px 0px;
}
.socialcontents_bottombackground{
    background-image: url(../images/background_wave_bottom.png);
    background-color: #ffffff;
    height: 111px;
    background-repeat: no-repeat;
    margin-top: -2px;
}

.our_clients {
    margin: 48px 0px 0px;
}

.clients_title{
    padding: 24px 0px;
    font-size: 36px;
    text-align: center;
    font-family: 'Clearface';
    font-weight: 700;
}
.clients_subtitle{
    font-size: 20px;
    color: #517288;
    text-align: center;
}
.clients_list{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 24px auto;
}
.clients_list li{
    margin: 16px 24px 24px;
}
.client_training{
    text-align: center;
    background-color: #f7f3f1;
}
.client_training_top{
    background-image: url(../images/client_training_top.png);
    background-color: #ffffff;
    height: 170px;
    background-repeat: no-repeat;
}

.client_training_title{
    font-size: 36px;
    color: #2C404E;
    font-weight: bold;
    padding: 24px 0px;
    font-family: 'Clearface';
}
.client_training_subtitle{
    padding: 8px 0px 24px;
    font-size: 20px;
    color: #517288;
}
.training_details{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    margin: 0 auto;
    max-width: 1150px;
}
.training{
    width: 261px;
    padding:0px 12px;
}
.training_title{
    font-size: 26px;
    padding: 16px 0px;
    font-family: 'Clearface';
    font-weight: 700;
    line-height: 38px;
}
.training_sub_title {
    font-size: 16px;
    width: 250px;
    line-height: 26px;
}
.video_image{
    padding:16px 0px;
}
.client_training_bottom{
    background-image: url(../images/client_training_bottom.png);
    height: 160px;
    background-repeat: no-repeat;
    margin-top: -2px;
    transform: rotate(0deg);
}
.member_commands{
    background-color: #628ba6;
    margin-top: -58px;
    padding-top: 58px;
}
.member_title{
    font-size: 36px;
    padding: 24px 0px;
    text-align: center;
    color: #ffffff;
    font-family: 'Clearface';
    font-weight: 700;
}
.member_subtitle{
    font-size: 20px;
    text-align: center;
    color:#ffffff;
}
.member_command_types{
    list-style: none;
    display: flex;
    padding: 48px 0px;
    justify-content: center;
}
.member_command_types li{
    padding: 4px 12px;
}
.member_command_types li a{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
}
.member_command_types li a.active{
    padding: 12px 18px;
    background: #507790;
    color: #ffdd6d;
    border-radius: 5px;
}
.memes_command{
   overflow-x: scroll;
   overflow-y: hidden;
   white-space: nowrap;
}
.memes_command::-webkit-scrollbar {
    display: none;
    }
.memes_command .command{
    display: inline-block;
    width: 350px;
    padding: 32px 24px;
    margin: 0px 8px;
    background-color: #ffffff;
    border-radius: 5px;
    white-space: normal;
}
.meme_command_title{
    font-size: 18px;
}
.meme_para{
    font-size: 14px;
    color: #2c404e;
}
.member_address{
    display: flex;
    align-items: center;
    margin: 18px 0px 0px;
}
.member_name{
    font-size: 14px;
    color: #2C404E;
    padding-left: 8px;
}
.full_command{
    font-size: 12px;
    color: #58C2D1;
   padding-left: 68px;
}
.command_more{
    width: 300px;
    margin: 32px auto;
    text-align: center;
}
.read_more{
    width: 300px;
    display: inline-block;
    background: #507790;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    padding: 18px 0px;
    font-size: 20px;
}

.lighterside_history_top{
    background-image: url(../images/comments_bottom.png);
    height: 145px;
    background-repeat: no-repeat;
    margin-top: -32px;
}
.lighterside_background{
background: #2C404E;
}
.lighterside_history_title{
    font-size: 36px;
    padding: 42px 0px 24px;
    color: #ffffff;
    text-align: center;
    font-family: 'Clearface';
    font-weight: 700;
}

.providing_service_type {
    text-align: center;
}
.history_count{
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    margin: 24px auto 0px;
}

.count{
    font-size: 42px;
    font-weight: 700;
    padding: 12px 0px;
    text-align: center;
    color: #ffffff;
    font-family: 'Clearface';
}
.action{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}
.lighterside_history_bottom{
    background-image: url(../images/lighterside_bottom.png);
    height: 195px;
}
.join_community_parent{
    background: #ff6756;
    border: 1px solid #ff6756;
    /* max-width: 1100px; */
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    top:200px;
}
.join_community{
   padding: 32px 24px 48px;
   text-align: center;
}
.join_community_title{
    padding: 24px 0px;
    font-size: 52px;
    color: #ffffff;
    font-family: 'Clearface';
    font-weight: 700;
}
.join_community_subtitle{
    font-size: 20px;
    color: #ffffff;
}
.join_lighterside{
    margin: 64px 0px 24px;
}
.join{
    background: #2C404E;
    border-radius: 5px;
    /* padding: 12px 24px; */
    padding: 19px 54px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}
.price{
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}
.footer_features{
    background: #f7f3f1;
    margin: -64px 0px;
    padding: 64px 0px;
}
.footer_content{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 64px auto 48px;
}
.lsorfigma {
    max-width: 350px;
    margin: 0px 48px;
}
.lsorfigma p{
    padding: 12px 0px;
    color: #2C404E;
    font-size: 16px;
}
.features,.blog,.about{
    list-style: none;
}

.features li a,.blog li a,.about li a{
    font-size: 16px;
    color: #2c404e;
    padding: 6px 0px;
    line-height: 36px;
    text-decoration: none;
}
.heading{
    padding: 0px 0px 12px;
    font-size: 26px;
    color: #2c404e;
    line-height: 28px;
}
.hiring{
    text-decoration: underline;
    color: #a340ef96;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
    background: #2C404E;
    color: #ffffff;
}
.footer_logo{
   padding-right: 24px;
}
.mobile_footer_logo{
    display: none;
}
.copyright{
    font-size: 12px;
}
.privacy_terms{
    color: #ffffff;
}
/* @media (min-width:960px) and (max-width:1199px){ */
@media (max-width:1199px){
    /* header styles */
    .mobile_menu{
        display: block;
        top:48px;
    }
    .desktop_menu {
        margin-left: 18px;
    }
    .menu>li>a{
        padding: 10px 12px;
    }
    .signin{
        margin:0px 18px;
    }
    /* header content styles */
    .header_content {
        background-image: url(../images/laptop_content.png);
        height: 620px;
    }
    .title{
        font-size: 46px;
        line-height: 58px;
    }
    .sub_title{
        font-size: 18px;
        line-height: 28px;
    }
    .get_started{
        font-size: 18px;
        padding: 14px 0px;
    }
    /* marketing styles */
    .marketing{
        margin: 24px 0px 48px;
    }
    .marketing_title{
        font-size: 32px;
    }
    .marketing_subtitle{
        font-size: 18px;
    }
    .box_title{
        font-size: 24px;
    }
    .desktop_arrow{
        /* width: 20%; */
        display: none;
    }
    #tablet_firstarrow{
        position: relative;
        left:0px;
    }
    .avoid_tablet{
        display: none;
    }
    .marketing_box2{
        left:20%;
        margin-top: 0px;
    }
    .marketing_box3{
        top:16px;
        right:0%;
    }
    .tablet_arrow{
        display: block;
        position: relative;
        left: 30%;
    }
    .marketing_price{
        display: none;
    }
    /* social contents styles */
    .socialcontents{
        background-color: #f5f8fa;
        padding: 8px 0px;
    }
    .socialcontents_title{
        font-size: 32px;
    }
    .socialcontents_sub_title{
        font-size: 18px;
    }
    .social_sites{
        padding: 0px 32px;
    }
    .social_sites .social_sitename{
        width: auto;
        padding: 24px;
    }
    .socialsite_type{
        font-size: 24px;
    }
    /* .socialsite_content{
        font-size: 16px;
    } */
    .learn_more{
        font-size: 16px;
        padding: 14px 36px;
    }
    /* client list styles */
    .our_clients{
        margin: 48px 0px;
    }
    .clients_title{
        font-size: 32px;
    }
    .clients_subtitle{
        font-size: 18px;
    }
    /* client training styles */
    .client_training_top{
        background-color: #f7f3f1;
        display:none;
    }
    .client_training_title{
        font-size: 32px;
        padding:48px 0px 24px;
    }
    .client_training_subtitle{
        font-size: 18px;
    }
    .training_details{
        padding:0px 24px 48px;
    }
    .client_training_bottom{
        display: none;
    }
    /* training styles */
   
    .training_title{
        font-size: 24px;
    }
    /* member styles */
    .member_commands{
        background-color: #2c404e;
        margin-top: 0px;
        padding: 24px 0px;
    }
    .member_title{
        font-size: 32px;
    }
    .member_subtitle{
        font-size: 18px;
    }
    .member_command_types li a{
        font-size: 16px;
    }
    .command_more{
        margin: 48px auto 16px;
    }
    .read_more{
        font-size: 18px;
        padding: 12px 0px;
    }
    /* lighter side history */
    .lighterside_history_top{
        display: none;
    }
    .lighterside_history_title{
        font-size: 32px;
    }
    .count{
        font-size: 36px;
    }
    .action{
        font-size: 16px;
    }
    .join_community_title{
        font-size: 42px;
    }
    .join_community_subtitle{
        font-size: 18px;
    }
    .join{
        padding: 18px 50px;
        font-size: 18px;
    }
    .price{
        font-size: 14px;
        line-height: 28px;
    }
    .join_community_parent{
        top:100px;
    }
    .lighterside_history_bottom{
        display: none;
    }
    .footer_content {
        margin:148px auto 48px;
        padding: 8px 48px 0px;
    }
    .lsorfigma p{
        font-size: 14px;
    }
    .heading{
        font-size: 24px;
    }
    .features li a, .blog li a, .about li a{
        font-size: 14px;
        line-height: 32px;
    }
}
@media (max-width:959px){
     /* header styles */
     .desktop_menu{
        display: none;
    }
    
    /* header content styles */
    .title{
        font-size: 44px;
        padding: 12px 0px;
    }
    .content_image{
        right: 0%;
    }
    .content_text{
        right: 10%;
    }
    /* marketing styles */
   
    .get_started{
        padding: 10px 0px;
        font-size: 16px;
    }
    .marketing_price{
        display: none;
    }
    /* social contents styles */
    .social_sites{
       padding: 0px 24px;
    }
    .social_sites .social_sitename{
        /* padding: 24px 16px; */
        padding: 24px 0px;
    }
    /* .socialcontents_title {
        font-size: 32px;
    } */
    .socialcontents_sub_title{
        font-size: 18px;
    }
    /* .socialsite_type{
        font-size: 24px;
    } */
    /* .socialsite_content{
        font-size: 16px;
    } */
    /* .learn_more{
       font-size: 16px;
    } */
    
    .clients_subtitle{
        font-size: 18px;
    }
     /* client training styles */
    .client_training_title{
        font-size: 32px;
    }
   
    /* member commands style */
    
    .member_title{
        font-size: 32px;
    }
    
    .member_command_types li a {
        font-size: 16px;
    }
    /* lighter side history styles */
    .read_more{
        font-size: 16px;
        padding: 10px 0px;
    }
     /* join community styles */
    .join_community_title{
        font-size: 42px;
    }
    
    .join{
        padding: 14px 62px;
    }
   
    /* footer styles */
    .footer_content{
        padding: 0px 24px;
    }
    .lsorfigma{
        width: 200px;
    }
   
    .heading{
        font-size: 22px;
    }
}
@media (max-width:799px){
    .title{
        font-size: 38px;
    }
    .content_text{
        right: 0;
    }
     .box_content{
         font-size: 14px;
     }
     .marketing_box2{
         left:0;
     }
     .tablet_arrow{
         left:0px;
     }
    /* socialcontents styles */
    .socialcontents_title{
        font-size: 30px;
    }
    .socialcontents_sub_title{
        font-size: 16px;
    }
    .social_sites{
        justify-content: unset;
    }
    .social_sites .social_sitename {
        padding: 24px 14px;
    }
    .socialsite_type{
        font-size: 22px;
    }
    .socialsite_content{
        font-size: 14px;
    }
    .learn_more{
      padding: 8px 10px;
      font-size: 14px;
    }
    /* clients styles */
    .clients_title{
        font-size: 30px;
    }
    .clients_subtitle{
        font-size: 16px;
    }
    .client_training_title{
        font-size: 30px;
    }
    .client_training_subtitle{
        font-size: 16px;
    }
    .training_title{
        font-size: 22px;
    }
    .training_sub_title{
        font-size: 14px;
        width: auto;
    }
     /* member commends styles */
    .member_title{
        font-size: 30px;
    }
    .member_subtitle{
        font-size: 16px;
    }
    .read_more{
        width: auto;
        padding: 10px 48px;
    }
    .join_community_title{
        font-size: 38px;
    }
    .join_community_subtitle{
        font-size: 16px;
    }
    .join{
        font-size: 16px;
    }
    /* footer styles */
    .footer_content{
        flex-flow: row wrap;
        justify-content: center;
    }
    .lsorfigma{
        width: 100%;
        max-width: none;
        text-align: center;
    }
    .heading{
        padding: 16px 0px 0px 16px;
     }
     .features, .blog, .about{
         margin: 0px 16px;
     }
}
@media (max-width:639px){
    header{
        padding: 38px 8px 40px;
    }
    
    .logo>img{
        width: 60%;
    }
    .signin,.get_start{
        font-size: 12px;
    }
    
    .signin_menu{
        right: 42px;
    }
    .signin{
        padding:8px 12px;
        margin: 0px 8px;
    }
    .get_start{
        padding: 8px 16px;
    }
     /* header content styles */
     .header_content{
        display: none;
    }
     .mobile_header_content{
        display: block;
        background-image: url(../images/splash.png);
        background-repeat: no-repeat;
        /* height: 322px; */
        text-align: center;
    }
    .mobile_content_image{
        height: 316px;
    }
    .content_text{
        top:0;
        right: 0;
        background-color: #f5f8fa;
        width: auto;
        padding: 12px 24px;
    }
    .getstart_content{
        display: block;
        font-size: 16px;
        padding: 16px 0px;
        width: 180px;
        margin: 0 auto;
    }
    .title{
        font-size: 38px;
    }
    .sub_title{
        font-size: 16px;
    }
    .joining_price{
        font-size: 12px;
        padding: 12px 0px 24px;
        color: #517288;
        font-family: Roboto-italic;
    }
    .facts{
        padding: 12px 0px 32px;
    }
    .marketing{
        margin: 64px 0px 48px;
    }
    .marketing_title {
        font-size: 30px;
    }
    .marketing_subtitle {
        font-size: 16px;
        padding-bottom: 0px;
    }
    .tablet_arrow{
        width: 70%;
        left: 10%;
    }
    
    /* social contents style */
   .social_sites{
       padding: 0px 6px;
       /* justify-content: unset; */
   }
    /* .socialcontents_title{
        font-size: 30px;
    } */
    /* .socialcontents_sub_title{
        font-size: 16px;
    } */
    .social_sitename img{
        width: 100px;
        height: 100px;
    }
    .social_sites .social_sitename{
        /* width: auto; */
        width: 150px;
        padding: 24px 8px;
        margin: 0 auto;
    }
    .socialsite_type{
        font-size: 18px;
    }
    .socialsite_content{
        width: 120px;
        font-size: 14px;
    }
    /* client list styles */
    .clients_list{
        flex-flow: row;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
    
     /* client training styles */
     .client_training_title{
        font-size: 30px;
        padding: 24px 8px;
    }
    
    .training_title{
        font-size: 22px;
    }
    .training_sub_title{
        font-size: 14px;
        width: auto;
    }
    
    .read_more{
        padding: 8px 28px;
    }
     /* lighterside history styles */
     .lighterside_history {
        text-align: center;
    }
     .lighterside_history_top{
        background: #2C404E;
    }
    .lighterside_history_title{
        font-size: 30px;
    }
    .history_count{
        display: inline-block;
    }
    .providing_service_type{
        display: inline-block;
        padding: 0px 6px;
    }
    .history_count>div>img {
        width: 50%;
    }
   
    .action{
        font-size: 14px;
    }
    /* join community styles */
    .join_community_title{
        font-size: 32px;
    }

    .join{
        padding: 12px 48px;
        font-size: 14px;
    }
     /* footer features styles */
     .footer_content{
        padding: 0px 12px;
    }
    .heading{
        padding: 16px 0px 0px 0px;
    }
    .features,.blog,.about{
        margin: 0px;
        padding: 0px 4px;
    }
    .lsorfigma{
        max-width: none;
        width: auto;
        margin: 0px 32px;
    }
   
}
@media (max-width:479px){

    
    /* header content styles */
    .title{
        font-size: 34px;
        line-height: 42px;
    }
    .sub_title {
        padding: 12px 0px 8px;
    }
    .marketing_title{
        font-size: 22px;
    }
    .desktop_arrow{
        display: none;
    }
    #tablet_firstarrow,.tablet_arrow{
        display: none;
    }
    .mobile_arrow{
        display: block;
        margin: 0px auto;
    }
    .box_title{
        font-size: 18px;
    }

    .marketing_box1, .marketing_box2, .marketing_box3{
        width: 300px;
        padding: 24px;
        margin: -10px 0px;
        top:0px;
        left:0px;
        right: 0px;
    }
    .get_started{
        font-size: 14px;
    }
    .marketing_price{
        display: none;
    }
    /* social contents style */
    .socialcontents_title{
        font-size: 22px;
    }
    
    .social_sitename img{
        width: 60%;
        height: auto;
    }
    .social_sites .social_sitename{
        padding: 12px 4px;
    }
    
    .learn_more{
        padding: 8px 6px;
    }
    /* client list styles */
    .clients_title{
        font-size: 22px;
    }
    /* client training styles */
    .client_training_title{
        font-size: 22px;
        padding: 24px 8px;
    }
 
    .training_details{
        width: auto;
        padding: 0px;
        flex-flow: row wrap;
    }
    .training{
        padding: 12px 0px;
        width: 155px;
    }
    .training>img{
        width: 90px;
        height: 90px;
    }
    .training_title{
        font-size: 20px;
    }
 
    /* member commends styles */
    .member_title{
        font-size: 22px;
    }
    .member_command_types li{
        padding: 4px 6px;
    }
    .member_command_types li a{
        font-size: 14px;
    }
    .member_command_types li a.active{
        padding: 8px 14px;
    }
    .meme_command_title{
        font-size: 16px;
    }
    .memes_command .command{
        width: 300px;
        padding: 8px 12px;
    }
    .member_name{
        font-size: 12px;
    }
    .read_more{
        padding: 10px 38px;
        font-size: 14px;
    }
    /* lighterside history styles */
    
    .lighterside_history_title{
        font-size: 22px;
    }
    .providing_service_type {
        display: inline-block;
        padding: 12px 28px;
        text-align: center;
    }
    .history_count{
        display:inline-block;
        text-align: center;
    }
    .count{
        font-size: 30px;
    }
    .action{
        font-size: 12px;
    }
    /* join community styles */
    .join_community_parent{
        width: 300px;
    }
    .join_community_title{
        font-size: 34px;
    }
    
    /* footer features styles */
   
    .lsorfigma{
        text-align: center;
    }
    .lsorfigma p{
        font-size: 12px;
        padding: 12px;
    }
    .heading{
        font-size: 20px;
        line-height: 18px;
    }
    .features li a,.blog li a,.about li a{
        font-size: 12px;
        line-height: 18px;
    }
    /* footer styles */
    footer{
        flex-flow: column;
    }
    .desktop_footer_logo{
        display: none;
    }
    .mobile_footer_logo{
        display: block;
    }
    .copyright{
        margin-top: 12px;
    }
}